/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.messagebox {
	display: none;
  position: relative;
  width: 100%;
  z-index: 4;
	text-align:center;
	color: #FFF;
}
.messagebox span {
	display:block;
	height: 24px;
	line-height: 24px;	
}
.error {
    background: rgb(226, 120, 124);
}
.success {
    background: rgb(161, 204, 151);
}
.info {
    background: rgb(116, 192, 218);
}
.warning {
    background: rgb(226, 200, 141);
}